<!DOCTYPE html>
<html
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns ="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Pogoda Archiwalna</title>
</head>
<body>

    <div class="jumbotron text-center">
        <h1><div th:text="${measurements.station}" ></div></h1>
        <p>Dzień:</p>
        <p th:text="${measurements.date}" ></p>
        <p>Godzina:</p>
        <p th:text="${measurements.hour}" ></p>
    </div>

    <div class="container">
        <table class="table table-striped">
            <caption>Wyniki pomiaru dla tej stacji:</caption>
            <thead>
                <tr>
                    <th>Ciśnienie</th>
                    <th>Temperatura</th>
                    <th>Kierunek wiatru</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div th:text="${measurements.pressure}" ></div></td>
                    <td><div th:text="${measurements.temperature}" ></div></td>
                    <td><div th:text="${measurements.windDirection}" ></div></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <a class="btn btn-primary" href="/wybierzArchiwalnyPomiar">Wybierz archiwalny pomiar</a>
    </div>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>