<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns ="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Wyświetl pogodę archiwalną</title>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Pogoda Archiwalna.</h1>
        <p>Wybierz stacje, datę i godzinę, aby wyświetlić pogodę archiwalną!</p>
    </div>

    <div class="container">
        <form name="weatherForm" servletRelativeAction="/DatabaseController/chooseArchiwalMeasurements" method="POST">
            <span class="label label-primary">Data:</span>
            <input class="form-control" type="date" name="date" id="date"/>
            <span class="label label-primary">Godzina:</span>
            <input class="form-control" type="time" name="time" id="time"/>
            <span class="label label-primary">Stacja:</span>
            <select class="form-control" name="station" id="station">
                <option value="">Wybierz stacje</option>
                <option
                        th:each="station : ${measurementsList}"
                        th:value="${station}"
                        th:text="${station}">
                </option>
            </select>
            <input type="submit" value="Wybierz" class="btn btn-primary active">
        </form>
        <br><br>
        <a class="btn btn-primary" href="/">Strona główna</a>
    </div>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>